<!-- index.html -->
{% extends "base.html" %}

{% block content %}
<div class="welcome">
    <h1>Добро пожаловать на главную страницу проекта!</h1>
    <p class="welcome-text">Этот проект разработан для помощи пользователям в быстром поиске ответов на различные вопросы.</p>
    <p class="welcome-text">С его помощью вы можете обучать модель, добавлять новые данные, тестировать работу модели и получать предсказания на основе введенных вами вопросов.</p>
</div>

<div class="sections">
    <h2>На главной странице вы найдете следующие разделы:</h2>

    <div class="section">
        <h3>Обучение модели</h3>
        <p>Здесь вы можете обучить модель на основе предоставленных данных и сохранить ее для последующего использования.</p>
    </div>

    <div class="section">
        <h3>Добавление данных</h3>
        <p>В этом разделе вы можете добавлять новые вопросы и связанные с ними теги для обогащения базы данных модели.</p>
    </div>

    <div class="section">
        <h3>Тестирование модели</h3>
        <p>Здесь вы можете проверить работу модели, введя ваш вопрос, и получить предсказанный тег на основе обученной модели.</p>
    </div>

    <div class="section">
        <h3>Обо мне</h3>
        <p>Меня зовут - Сергей</p>
        <p>Я - Python engineer. Уже более 4 лет пишу на пайтон.</p>
        <a href="/about">Ссылка на резюме</a>.
    </div>
</div>

<style>
    .welcome {
        text-align: center;
        margin-top: 50px;
    }

    .welcome-text {
        text-align: left;
        max-width: 800px;
        margin: 0 auto;
    }

    .sections {
        text-align: left;
        margin-top: 50px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .section {
        margin-bottom: 30px;
    }

    .section h3 {
        color: #004080;
    }
</style>
{% endblock %}
