<!-- test_model.html -->
{% extends "base.html" %}

{% block content %}
<div class="test-form">
    <h1>Тестирование модели</h1>
    {% if prediction %}
    <p>Предсказанный тег: {{ prediction }}</p>
    {% endif %}
    <form action="/test_model" method="post">
        <input type="text" id="question" name="question" class="question-input" placeholder="Введите ваш вопрос"><br>
        <input type="submit" value="Предсказать тег" class="predict-button">
    </form>
    <br>
    {% if prediction %}
    <form action="/answer_question" method="post">
        <input type="hidden" name="question" value="{{ request.form.question }}">
        <input type="hidden" name="predicted_tag" value="{{ prediction }}">
        <button type="submit" name="correct" value="true" class="correct-button">Верно</button>
        <select name="correct_tag" class="tag-select">
            {% for tag in tags %}
            <option value="{{ tag }}">{{ tag }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Ответить" class="answer-button">
    </form>
    <form action="/answer_question" method="post">
        <input type="hidden" name="question" value="{{ request.form.question }}">
        <input type="hidden" name="predicted_tag" value="{{ prediction }}">
    </form>
    {% endif %}
</div>

{% endblock %}
